@section Styles{
    <style>
        .mCarousel {
            margin: 0 auto;
            width: 70%;
        }

        .cbtn {
            margin-left: 15%;
            margin-bottom: 10px;
        }
    </style>
}

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">首页</li>
        <li>茶品种</li>
        <li>茶文化</li>
    </ul>

    <div class="layui-tab-content">

        <div class="layui-tab-item layui-show">
            <button type="button" class="btn btn-success cbtn">添加</button>
            <button type="button" class="btn btn-danger " style="margin-bottom:10px;" onclick="delRotationChart(11)" wzzid="11">删除</button>
            <div id="HomeCarousel" class="carousel slide mCarousel">
                <div class="carousel-inner">

                </div>
            </div>
        </div>

        <div class="layui-tab-item">
            <div class="layui-tab-item layui-show">
                <button type="button" class="btn btn-success cbtn">添加</button>
                <button type="button" class="btn btn-danger " style="margin-bottom:10px;" onclick="delRotationChart(13)" wzzid="13">删除</button>
                <div id="TeaTypeCarousel" class="carousel slide mCarousel" >
                    <div class="carousel-inner item">

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-tab-item">
            <div class="layui-tab-item layui-show">
                <button type="button" class="btn btn-success cbtn">添加</button>
                <button type="button" class="btn btn-danger " style="margin-bottom:10px;" onclick="delRotationChart(14)" wzzid="14">删除</button>
                <div id="StoryCarousel" class="carousel slide mCarousel">
                    <div class="carousel-inner item">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








@section Scripts{
    <script>
        //保存加载过的数据
        var _homelist;
        var _teatypelist;
        var _storylist;

        //加载图片
        function load() {
            var _homeDom = $("#HomeCarousel");
            var _teaTypeDom = $("#TeaTypeCarousel");
            var _storyDom = $("#StoryCarousel");
            $.post("/RotationChartSetting/GetList", {}, function (result) {
                //全局保存加载过的数据
                _homelist = result.homeRotationChart;
                _teatypelist = result.teaTypeRotationChart;
                _storylist = result.storyRotationChart;
                var active = "";//记录是否为第一条，是则加上对应的类
                var domid = `HomeCarousel`;//记录domid用于控制dom改变
                var imgdiv = ``;//记录轮播图图片的结构
                var li = ``;//记录圆点结构
                var ol = ``;//组装圆点结构
                var carousel = ``;//组装左右切换按钮
                for (var i = 0; i < result.homeRotationChart.length; i++) {
                    if (i == 0) {
                        active = "active";
                    } else {
                        active = "";
                    }
                    li += `<li data-target="#` + domid + `" data-slide-to="` + i + `" class="` + active + `"></li>`;
                    var tit = result.homeRotationChart[i].title == null ? "" : result.homeRotationChart[i].title;
                    imgdiv += `<div class="item ` + active + `"><img src="`+ result.homeRotationChart[i].imgurl + `" width="100%" height="100%" data-id="` + result.homeRotationChart[i].id + `" wzzid="` + result.homeRotationChart[i].wzzModelId + `" arcid="` + result.homeRotationChart[i].articleId + `">
                        <div class="carousel-caption">`+ tit + `</div>
                        </div>`;
                }
                carousel = `<a class="left carousel-control" href="#` + domid + `" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                        </a>
                    <a class="right carousel-control" href="#`+ domid + `" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>`;
                ol = `<ol class="carousel-indicators">` + li + `</ol>`;
                _homeDom.children(".carousel-inner").html(ol);
                _homeDom.children(".carousel-inner").append(imgdiv);
                _homeDom.children(".carousel-inner").append(carousel);

                //清空结构重新组装下一个选项卡
                domid = "StoryCarousel";
                imgdiv = ``;
                li = ``;
                ol = ``;
                carousel = ``;
                for (var i = 0; i < result.storyRotationChart.length; i++) {
                    if (i == 0) {
                        active = "active";
                    } else {
                        active = "";
                    }
                    li += `<li data-target="#` + domid + `" data-slide-to="` + i + `" class="` + active + `"></li>`;
                    var tit = result.storyRotationChart[i].title == null ? "" : result.storyRotationChart[i].title;
                    imgdiv += `<div class="item ` + active + `">
                                                                                    <img src="`+ result.storyRotationChart[i].imgurl + `" width="100%" height="100%" data-id="` + result.storyRotationChart[i].id + `" wzzid="` + result.storyRotationChart[i].wzzModelId + `" arcid="` + result.storyRotationChart[i].articleId + `">
                                                                                    <div class="carousel-caption">
                                                                                        `+ tit + `
                                                                                    </div>
                                                                                </div>`;
                }
                carousel = `<a class="left carousel-control" href="#` + domid + `" role="button" data-slide="prev">
                                                                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="right carousel-control" href="#`+ domid + `" role="button" data-slide="next">
                                                                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Next</span>
                                                                                    </a>`;
                ol = `<ol class="carousel-indicators">` + li + `</ol>`;
                _storyDom.children(".carousel-inner").html(ol);
                _storyDom.children(".carousel-inner").append(imgdiv);
                _storyDom.children(".carousel-inner").append(carousel);

                //清空结构重新组装下一个选项卡
                domid = "TeaTypeCarousel";
                imgdiv = ``;
                li = ``;
                ol = ``;
                carousel = ``;
                for (var i = 0; i < result.teaTypeRotationChart.length; i++) {
                    if (i == 0) {
                        active = "active";
                    } else {
                        active = "";
                    }
                    li += `<li data-target="#` + domid + `" data-slide-to="` + i + `" class="` + active + `"></li>`;
                    var tit = result.teaTypeRotationChart[i].title == null ? "" : result.teaTypeRotationChart[i].title;
                    imgdiv += `<div class="item ` + active + `">
                                                                                    <img src="`+ result.teaTypeRotationChart[i].imgurl + `" width="100%" height="100%" data-id="` + result.teaTypeRotationChart[i].id + `" wzzid="` + result.teaTypeRotationChart[i].wzzModelId + `" arcid="` + result.teaTypeRotationChart[i].articleId + `">
                                                                                    <div class="carousel-caption">
                                                                                        `+ tit + `
                                                                                    </div>
                                                                                </div>`;
                }
                carousel = `<a class="left carousel-control" href="#` + domid + `" role="button" data-slide="prev">
                                                                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="right carousel-control" href="#`+ domid + `" role="button" data-slide="next">
                                                                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Next</span>
                                                                                    </a>`;
                ol = `<ol class="carousel-indicators">` + li + `</ol>`;
                _teaTypeDom.children(".carousel-inner").html(ol);
                _teaTypeDom.children(".carousel-inner").append(imgdiv);
                _teaTypeDom.children(".carousel-inner").append(carousel);

                //加载完数据后为图片添加点击事件以供编辑
                $(".layui-tab-content img").click(function (e) {
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    var app = new appModal({
                        title:"编辑",
                        url: "/RotationChartSetting/Edit",
                        data: { id: id },
                        yes: function () {
                            var oldurl = $("input[name=oldurl]:hidden").val();
                            if (oldurl != "") $.post("/Home/DelFile", { url: oldurl });
                            var imgdom = $(".imginfo");
                            var _data = {};
                            _data.id = imgdom.children("img").attr("data-id");
                            _data.imgurl = imgdom.children("img").attr("src");
                            _data.title = imgdom.children("input[name=rotitle]").val();
                            _data.WZZModelId = imgdom.attr("wzzid");
                            _data.ArticleId = imgdom.find("input[name=article]").attr("Article-id");
                            $.post("/RotationChartSetting/UpData", { data: _data }, function (result) {
                                if (result) {
                                    layer.msg("更新成功", { icon: 1 });
                                } else {
                                    layer.msg("更新失败", { icon: 2 });
                                }
                                load();
                            })
                            
                        }
                    });
                    app.open({ width: "26%" });
                })
            })
        }

        //添加轮播图
        function addRotationChart(id) {
            var app = new appModal({
                title: "添加轮播图",
                url: "/RotationChartSetting/AddOrEdit",
                data: {},
                yes: function () {
                    var imglist = $("#imgshow .imginfo");
                    var data = [];
                    imglist.each(function (index, dom) {
                        var url = $(dom).children("img").attr("src");
                        var aid = $(dom).find("input[name=article]").attr("Article-id");
                        var rotitle = $(dom).children("input[name=rotitle]").val();
                        data.push({
                            title: rotitle,
                            imgurl: url,
                            ArticleId: aid,
                            wzzModelId: id
                        })
                    });
                    $.post("/RotationChartSetting/AddRotationChart", { data: data }, function (result) {
                        if (result) {
                            layer.msg("添加成功！", { icon: 1 });
                            load();
                        }
                    })
                }
            });
            app.open({ width: "80%" });
        }

        //当用户点击添加时
        $(document).on("click", ".cbtn", function (e) {
            e.preventDefault();
            var wzzid = $(this).next().attr("wzzid");
            addRotationChart(wzzid);
        })

        function delRotationChart(wzzid) {

            $.post("/RotationChartSetting/GetList", { wzzid: wzzid }, function (result) {
                var htmlmodel = ``;
                for (var i = 0; i < result.length; i++) {
                    var tit = result[i].title == null ? "" : result[i].title;
                    var aid = result[i].ArticleId == null ? "" : result[i].ArticleId;
                    var acontent = result[i].Article == null ? "" : result[i].Article.title + "-" + result[i].Article.author;
                    htmlmodel += `
                            <div class="btn btn-default imginfo layui-anim layui-anim-scale" style="width:400px;height:320px;" data-toggle="tooltip" data-placement="top" title="双击图片进行删除">
                                        <img src="`+ result[i].imgurl + `" class="img-responsive" img-id="` + result[i].id + `" />
                                        <input type="text" value="`+ tit + `" class="form-control" name="rotitle" readonly="readonly" />
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="`+ acontent + `" name="article" aria-describedby="inputGroupSuccess1Status" readonly="readonly" Article-id="` + aid + `">
                                            </div>
                                        </div>
                                    </div>`;

                }

                var app = new appModal({
                    title: "删除轮播图",
                    body: htmlmodel,
                    yes: load,
                    end: load
                });
                app.open({ width: "75%" });
                var div = $('[data-toggle="tooltip"]');
                $(div).tooltip();
                //删除数据
                $(div).dblclick(function () {
                    var dom = $(this);
                    var id = $(dom).children("img").attr("img-id");
                    var imgurl = $(dom).children("img").attr("src");
                    $.post("/RotationChartSetting/RemovRotationChart", { id: id }, function (result) {
                        if (result) {
                            layer.msg("删除成功", { icon: 1 });
                            dom.remove();
                        }
                    });
                    $.post("/Home/DelFile", { url: imgurl });
                })
            })


        }

        $(function () {
            load();
        })
    </script>
}