<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edeg" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/public/Home/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/public/Home/css/font-awesome.css" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/public/Layout/css/_Layout.css" rel="stylesheet" />
    <link href="../" rel="stylesheet" />
    <style>
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="container">

            <div class="row navtop">
                <div class="col-lg-5 col-md-9 col-sm-9 col-xs-9">
                    <img src="~/public/Home/images/index/head/1523865923.png" alt="">
                    <span>加盟电话：</span>
                    <em id="phone"></em>
                </div>
                <div class="col-lg-7 col-md-3 col-sm-3 col-xs-3">
                    <ul class="topicon">
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 navbottom p-0">
                <div class="row">
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        <a href="/Home/Index">
                            <img src="" alt="logo" width="160" height="80" class="logimg">
                        </a>
                    </div>

                    <div class="col-lg-9 col-md-9">
                        <ul class="nav" id="nav">
                            <li controller="Home">
                                <a href="/Home/Index">首页</a>
                            </li>
                            <li controller="Subpage">
                                <a href="#">茶知识</a>
                            </li>
                            <li controller="Varieties">
                                <a href="#">茶品种</a>
                            </li>
                            <li controller="Story">
                                <a href="#">茶故事</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-10 mt-4" id="content">
        @RenderBody()
    </div>

    <footer class="container">
        <div class="row">
            <div class="col-4 footerleft">
                <a href="/Home/Index">
                    <img src="" width="280" height="119" class="logimg" />
                </a>
            </div>
            <div class="col-8 footerright">
                <span class="introduce footersubheading">
                </span>
            </div>
        </div>
    </footer>
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog  modal-lg	" style="margin: 0 auto;margin-top: 10%;">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                    <i class="close" data-dismiss="modal">×</i>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="modal_img">
                        <img src="" class="img-thumbnail w-75">
                    </div>
                    <div class="modal_text">

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/public/Home/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/public/Home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/public/Home/js/Layout.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
