<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edeg" />
    <title>@ViewData["Title"]</title>

    <link href="~/public/Layout/css/_Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/public/Home/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/public/Home/css/font-awesome.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="container">

            <div class="row navtop">
                <div class="col-5">
                    <img src="~/public/Home/images/index/head/1523865923.png" alt="">
                    <span>加盟电话：</span>
                    <em>155-7780-7079</em>
                </div>
                <div class="col-7">
                    <ul>
                        <li>
                            <img src="~/public/Home/images/index/head/1523608984.png">
                            <span>红茶</span>
                        </li>
                         <li>
                            <img src="~/public/Home/images/index/head/1523608984.png">
                            <span>红茶</span>
                        </li>
                         <li>
                            <img src="~/public/Home/images/index/head/1523608984.png">
                            <span>红茶</span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-12 navbottom">
                <div class="row">
                    <div class="col-3">
                        <a href="">
                            <img src="~/public/Home/images/test/壶1.png" alt="logo" width="160" height="80">
                        </a>
                    </div>

                    <div class="col-9 ">
                        <ul class="nav" id="nav">
                            <li controller="Home">
                                <a href="/Home/Index">首页</a>
                            </li>
                            <li controller="Subpage">
                                <a href="#">茶知识</a>
                            </li>
                            <li controller="Varieties">
                                <a href="#">茶品种</a>
                            </li>
                            <li controller="Story">
                                <a href="#">茶故事</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-10 mt-4" id="content">
        @RenderBody()
    </div>

    <footer class="container">
        <div class="row">
            <div class="col-4 footerleft">
                <a href="/Home/Index">
                <img src="~/public/Home/images/test/壶1.png" width="280" height="119" />
                </a>
            </div>
            <div class="col-8 footerright">
                <span class="introduce">本网站是非盈利型网站，只为志同道合的爱茶人、懂茶人、赏茶人提供一个平台，丰富茶知识，增长茶文化、提高茶品味。
                    站内文章一律来源其他网站，如有没注明清楚的地方，多多谅解。</span>
            </div>
        </div>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/public/Home/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/public/Home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/public/Home/js/Layout.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>