@{
    ViewData["Title"] = "茶品种";
}

<link rel="stylesheet" href="~/public/Home/css/Varieties.css" />
<link rel="stylesheet" href="~/public/Home/css/Varieties_meta.css" />

<div class="row">
    <div id="demo" class="carousel slide col-12" data-ride="carousel">


        <ol class="carousel-indicators"></ol>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
        </div>



        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <div class="bg2 main1 pt-5 col-12">

    </div>
</div>



<script>

    function showArticle(id) {
        $.post("/Varieties/showArticle", { id: id }, function (result) {
            console.log(result);
            $("#myModal .modal-title").text(result.title);
            $("#myModal .modal_img img").attr("src", "http://localhost:62320" + result.imgurl);
            $("#myModal .modal_text").html("");
            for (var i = 0; i < result.ArticleConTents.length; i++) {
                var p = `<br /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;` + result.ArticleConTents[i].articleText + `</span>`;
                $("#myModal .modal_text").append(p);
            }
            $("#myModal").modal("show");
        });
    }





    function load() {
        //加载轮播图
        $.post("/Home/GetRotationCharts", { id: 13 }, function (result) {
            var str = ``;
            var active = `active`;
            var point = ``;
            for (var i = 0; i < result.length; i++) {
                if (i > 0) {
                    active = ``;
                }
                point += `<li data-target="#demo" data-slide-to="` + i + `" class="` + active + `"></li>`;

                var tit = result[i].title == null ? "" : result[i].title;
                str += `
                    <div class="carousel-item `+ active + `">
                            <img class="d-block w-100" src="http://localhost:62320`+ result[i].imgurl + `" >
                            <div class="carousel-caption d-none d-md-block" style="margin-top:-30px;">
                                <h3>`+ tit + `</h3>
                            </div>
                        </div>`;
            }
            $(".carousel-indicators").html(point);
            $(".carousel-inner").append(str);
            $('#demo').carousel({
                interval: 2000
            });
        });

        $.post("/Home/GetModel", { id: 13 }, function (result) {
            console.log(result);
            var modeltitle = ``;
            for (var i = 0; i < result.length; i++) {
                var tit = result[i].Subheading == null ? "" : result[i].Subheading;
                var modeltitle = `<div class="title page3 col-12">
                <h2 class="has_marks t_c col-xs-12 col-sm-12 col-md-12 col-lg-12">`+ result[i].name + `</h2>
                <p>`+ tit + `</p>
            </div>`;
                var modelcontent = ``;
                for (var j = 0; j < result[i].Articles.length; j++) {
                    var author = result[i].Articles[j].author == null ? "" : result[i].Articles[j].author;
                    var source = result[i].Articles[j].source == null ? "" : result[i].Articles[j].source;
                    modelcontent += `<li class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6" onclick="showArticle(` + result[i].Articles[j].id + `)">
                        <a href="javascript:void(0);">
                            <img src="http://localhost:62320`+ result[i].Articles[j].imgurl + `" width="156" height="154" class="radio">
                            <div>
                                <b>`+ result[i].Articles[j].title + `</b>
                                <p>
                                    <span>`+ author + `</span>
                                    <span>`+ source + `</span>
                                </p>
                                <button type="button" class="btn blue layer-btn">点击了解</button>
                            </div>
                        </a>
                    </li>`;
                }

                var content = `<div class="col-12">
                    `+ modeltitle + `
            <div class="pinpai col-12">
                <ul>
                    `+ modelcontent + `

                </ul>
            </div>
        </div>`;

                $(".main1").append(content);
            }
        });
    }

    $(function () {
        load();
    })
</script>

