
@{

}


    <div class="row">
        <!--搜索框-->
        <form class="">
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">搜索</button>
                    </span>
                </div>
            </div>
        </form><!--按钮-->
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" style="background-color: #337AB7 !important;">增加</button>
            <button type="button" class="btn btn-success" style="background-color: #3ca512 !important;">刷新</button>

        </div>


        <!--表单-->
        <div class="table">
            bootstrap表单
        </div>

    </div>
