@section Styles{
    <style>
        #portraitUrl:hover {
            filter: alpha(Opacity=80);
            -moz-opacity: 0.8;
            opacity: 0.8;
            cursor: pointer;
        }
    </style>
}

<form id="userForm">
    <input type="hidden" name="id" value="" />
    <div class="form-group text-center ">
        <label>
            <img src="" width="150px" class="img-circle " id="portraitUrl">
            <input type="hidden" name="portraitUrl" value="" />
        </label>
    </div>
    <div class="form-group form-inline text-center">
        <label>NickName: &nbsp;&nbsp;</label>
        <input type="text" class="form-control" style="width:20%;" name="nickname" value="" />
    </div>
    <div class="form-group form-inline text-center">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <label> Email: &nbsp;&nbsp;</label>
        <input type="text" class="form-control" style="width:20%;" name="email" value="" disabled />
    </div>
    <div class="form-group form-inline text-center">
        <label>Password: &nbsp;&nbsp;</label>
        <input type="password" class="form-control" style="width:20%;" name="pwd" value="" />
    </div>
    <div class="form-group text-center">
        <input type="submit" value="保存信息" class="btn btn-success" />
    </div>
</form>




@section Scripts{
    <script>
        //渲染用户信息
        $.post("/Home/GetSession", { key: "username" }, function (result) {
            $("#portraitUrl").attr("src", result.portraitUrl);
            $("input[name=portraitUrl]").val(result.portraitUrl);
            $("input[name=nickname]").val(result.nickname);
            $("input[name=email]").val(result.email);
            $("input[name=id]").val(result.id);
        })
        //用户提交要修改的信息
        $("#userForm").submit(function (e) {
            e.preventDefault();
            if ($("input[name=nickname]").val() == "" || $("input[name=nickname]").val() == undefined) {
                layer.msg("请输入nackname");
                return false;
            }
            if ($("input[name=pwd]").val() == "" || $("input[name=pwd]").val() == undefined) {
                layer.msg("请输入要修改的密码");
                return false;
            }
            var _data = $("#userForm").serializeArray();
            $.post("/Home/UpdateInfo", _data, function (result) {
                layer.msg(result.msg);
                window.location.href = result.url;
            })
        })

        //选择头像
        $(document).on("click", "#portraitUrl", function () {
            //文件上传配置
            var fileopt = {
                language: 'zh',//设置语言为中文
                uploadUrl: "/Home/UpFile",//文件上传路径
                showUpload: true,//是否显示上传按钮
                browseClass: "btn btn-primary", //按钮样式
                deleteUrl: "/Home/DelFile",//删除地址
                maxFileCount: 1,//允许最大同时上传数
                validateInitialCount: true,
                maxFileSizenumber: 1024 * 5,//设置最大上传大小
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                deleteUrlString: "",//删除图片的路径
                //删除时需要传入的参数
                deleteExtraDataObject: {

                },
            }
            var inp = `<input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">`;
            $(".modal-body").html(inp);
            $("#myModalLabel").text("请选择头像");

            $("#input-b1").fileinput(fileopt).on("fileuploaded", function (event, data) {
            //上传文件的回调函数
                if (data.response) {
                    layer.msg('上传成功');
                    $("#portraitUrl").attr("src", data.response[0].filePath);
                    $("input[name=portraitUrl]").val(data.response[0].filePath);
                }
            }).on("filesuccessremove", function (e, data) {
                //删除文件的回调函数
            });

            $("#myModal").modal('show');
        })
    </script>
}
