<form id="userForm">

    <div class="form-group text-center">
        <label>
            <img src="..." width="150px" class="img-circle " id="portraitUrl">
        </label>
    </div>
    <div class="form-group">
        <label>NickName: &nbsp;&nbsp;</label>
        <input type="text" class="form-control" style="width:20%;" name="nickname" value="" />
    </div>

</form>



@section Scripts{
    <script>
        $.post("/Home/GetSession", { key: "username" }, function (result) {
            console.log(result);
            $("#portraitUrl").attr("src", result.portraitUrl);
            $("input[name=nickname]").val(result.nickname);
        })
    </script>
}
