
<link rel="stylesheet" href="~/public/Home/css/Subpage.css" />
<link rel="stylesheet" href="~/public/Home/css/Subpage_meta.css" />

<!---------------------------------------------------------top-------------------------------------------------->
<div class="container-fluid">
    <div class="in-news" style="margin-top: 4%; display: flex;flex-wrap:wrap ;-ms-flex-wrap:wrap ;">

        <!--每天茶知识-->
        <div class="layout row">
            <div data-scroll-reveal="enter top 100px over 0.5s" class="title-box1 col-3 col-sm-6 col-md-12 col-lg-12">
                <p class="cn" id="tit" t-id="Teaknowledge"></p>
                <p class="en"></p>
            </div>
            <div class="news-box">
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.4s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="35" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.4s,  opacity 0.5s ease-in-out 0.4s;transition: transform 0.5s ease-in-out 0.4s, opacity 0.5s ease-in-out 0.4s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">

                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="Subpage_Article（知识文章详情）.html" class="login_text">
                            <img src="~/images/Subpage/subpage_b/subpage_b1.jpg" alt="">
                            <span><p>喝茶养生，我们要选择浓茶还是淡茶？</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">泡茶有泡沫怎么办？是我的茶品质不好么？</a></li>
                        <li><a href="#" class="login_text">普洱熟茶煮着喝更有趣</a></li>
                        <li><a href="#" class="login_text">老白茶的养生功效与保存方法</a></li>
                        <li><a href="#" class="login_text">解惑 | 关于泡茶的八个常见疑问</a></li>
                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.2s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="36" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.2s,  opacity 0.5s ease-in-out 0.2s;transition: transform 0.5s ease-in-out 0.2s, opacity 0.5s ease-in-out 0.2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3>  </h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_b/subpage_b2.jpg" alt="">
                            <span><p>三个泡茶技巧，让你越泡越好喝</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">喝茶养生？这些禁忌不能犯！</a></li>
                        <li><a href="#" class="login_text">冬季养生茶，你离不开红与黑！</a></li>
                        <li><a href="#" class="login_text">紫砂壶 | 养壶的时候其实在养什么？</a></li>
                        <li><a href="#" class="login_text">天干物燥，深秋天你应该喝这些花茶润燥</a></li>
                        <li><a href="#" class="login_text">红茶有哪些功效？经常喝红茶的五个好处</a></li>

                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="37" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0s;transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_b/subpage_b3.jpg" alt="">
                            <span><p>四个技巧，放心买到原矿紫砂壶</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">受潮的茶叶不要扔，电饭煲帮你来搞定</a></li>
                        <li><a href="#" class="login_text">六大种类茶叶的保质期分别是多久？</a></li>
                        <li><a href="#" class="login_text">这三个茶与健康的观念，常常被人弄错</a></li>
                        <li><a href="#" class="login_text">紫砂壶入门知识8则</a></li>
                        <li><a href="#" class="login_text">绿茶也有伴侣，这三种食品与绿茶简直是绝配</a></li>
                        <li><a href="#" class="login_text">这七种喝茶方式正在损害你的健康</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="layout row">
            <div data-scroll-reveal="enter top 100px over 0.5s" class="title-box1 col-3 col-sm-6 col-md-12 col-lg-12">
                <p class="cn" id="tit" t-id="tealife"></p>
                <p class="en"></p>
            </div>
            <div class="news-box">
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.4s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="35" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.4s,  opacity 0.5s ease-in-out 0.4s;transition: transform 0.5s ease-in-out 0.4s, opacity 0.5s ease-in-out 0.4s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">

                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_c/subpage_c1.jpg" alt="">
                            <span><p>像茶一样活着，已无忧，亦无惧</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">一茶防一病，会喝茶的人无病一身轻</a></li>
                        <li><a href="#" class="login_text">不负杯中茶，不负心中人！</a></li>
                        <li><a href="#" class="login_text">什么紫砂壶泡什么茶？看完这篇你就知道！</a></li>
                        <li><a href="#" class="login_text">人生一碗茶，何必太清醒</a></li>
                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.2s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="36" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.2s,  opacity 0.5s ease-in-out 0.2s;transition: transform 0.5s ease-in-out 0.2s, opacity 0.5s ease-in-out 0.2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3>  </h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_c/subpage_c2.jpg" alt="">
                            <span><p>隔夜茶也是宝，说说隔夜茶的九大作用</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">给容易喝茶失眠的人提五点小建议</a></li>
                        <li><a href="#" class="login_text">六大茶类，哪类最适合你？</a></li>
                        <li><a href="#" class="login_text">让你吃惊的43条冷知识</a></li>
                        <li><a href="#" class="login_text">说“红茶养胃”的一定是个骗子</a></li>
                        <li><a href="#" class="login_text">喝茶有禁忌，常见的几种茶叶的饮用注意事项</a></li>

                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="37" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0s;transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_c/subpage_c3.jpg" alt="">
                            <span><p>切记，不要什么茶叶都放冰箱！</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">喝茶的最大好处是什么？</a></li>
                        <li><a href="#" class="login_text">这种茶全身是宝，可惜知道的人很少！</a></li>
                        <li><a href="#" class="login_text">时间那么贵，留给相处不累的人</a></li>
                        <li><a href="#" class="login_text">庭院·清茶，安放我心</a></li>
                        <li><a href="#" class="login_text">茶叶内幕！颠覆你的认知，喝不喝茶的都快看看</a></li>
                        <li><a href="#" class="login_text">最应该喝茶的人！！快看看，有你吗？</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="layout row">
            <div data-scroll-reveal="enter top 100px over 0.5s" class="title-box1 col-3 col-sm-6 col-md-12 col-lg-12">
                <p class="cn" id="tit" t-id="teaconnotation"></p>
                <p class="en"></p>
            </div>
            <div class="news-box">
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.4s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="35" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.4s,  opacity 0.5s ease-in-out 0.4s;transition: transform 0.5s ease-in-out 0.4s, opacity 0.5s ease-in-out 0.4s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">

                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_a/subpage_a1.jpg" alt="">
                            <span><p>茶文化——茶德、茶道</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">茶文化——茶德、茶道</a></li>
                        <li><a href="#" class="login_text">茶文化│茶道与禅道</a></li>
                        <li><a href="#" class="login_text">茶服：中式茶文化之美</a></li>
                        <li>
                            <a href="#" class="login_text">
                                中国人的茶文化
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0.2s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="36" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0.2s,  opacity 0.5s ease-in-out 0.2s;transition: transform 0.5s ease-in-out 0.2s, opacity 0.5s ease-in-out 0.2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3>  </h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">

                            <img src="~/images/Subpage/subpage_a/subpage_a2.jpg" alt="">
                            <span><p>茶文化之茶艺礼仪</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li>
                            <a href="#" class="login_text">
                                茶韵 | 与茶文化不期而遇
                            </a>
                        </li>
                        <li><a href="#" class="login_text">古典诗词中的茶文化</a></li>
                        <li><a href="#" class="login_text">茶礼仪与茶文化的关系</a></li>
                        <li><a href="#" class="login_text">《易经》：人的一生，只有这三个字</a></li>
                        <li><a href="#" class="login_text">茶在手中是风景，茶在口中是人生</a></li>

                    </ul>
                </div>
                <div data-scroll-reveal="enter left 100px over 0.5s after 0s" class="col-box  col-xs-12 col-sm-12 col-md-6 col-lg-4" data-scroll-reveal-id="37" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s,  opacity 0.5s ease-in-out 0s;transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                    <div class="hd-box">
                        <h3></h3><a href="#" class="login_text" class="more"></a>
                    </div>
                    <div class="pic-box">
                        <a href="#" class="login_text">
                            <img src="~/images/Subpage/subpage_a/subpage_a3.jpg" alt="">
                            <span><p>最全买茶大忌，值得收藏！</p></span>
                        </a>
                    </div>

                    <ul class="news-list">
                        <li><a href="#" class="login_text">茶语馆 | 身处闹市，偷闲浮生</a></li>
                        <li><a href="#" class="login_text">你需要知道的茶桌"暗语"</a></li>
                        <li>
                            <a href="#" class="login_text">
                                喝茶人士必须收藏的泡茶手记！
                            </a>
                        </li>
                        <li><a href="#" class="login_text">茶语馆 | 人来人往，茶暖茶凉</a></li>
                        <li><a href="#" class="login_text">茶事 | 浓茶和淡茶，哪个更养人？</a></li>
                        <li><a href="#" class="login_text">茶叶上的毫毛是不是越多越好？</a></li>
                    </ul>
                </div>

            </div>

        </div>



    </div>

</div>

@section Scripts{
    <script>
        //根据id获取信息
        function GetModelById(id, callback) {
            $.ajax({
                url: "/Home/GetModel",
                type: "post",
                dataType: "json",
                data: { id: id }
            }).done(function (result) {
                callback(result);
            })
        }
        $(function () {
            GetModelById(6, function (result) {
                $("p[t-id=Teaknowledge]").text(result.name).next().text(result.subheading);
            });
            GetModelById(7, function (result) {
                $("p[t-id=tealife]").text(result.name).next().text(result.subheading);
            });
            GetModelById(8, function (result) {
                $("p[t-id=teaconnotation]").text(result.name).next().text(result.subheading);
            });

        })
    </script>
}

