@{
    ViewData["Title"] = "首页";
}
@section Styles{
    <link rel="stylesheet" href="~/public/Home/css/index.css" />
}
<div id="content_top" style="height:100%;width:100%; margin:0 auto; padding-top:13%;">
    <!-- 外套 -->
    <div class="wrapper" style="white-space:nowrap !important;">
        <!---------left  （banner）--------->
        <div class="banner_box col-5" style="margin-right:20px;">
            <div class="banner">
                <div class="item">
                    <ul>
                        <li class="banner_li">
                            <a href="" target="_blank"><span>六大茶类茶叶的不同功效及特点</span><img src="~/public/Home/images/index/banner1.jpg" width="100%" height="100%" /></a>
                        </li>
                        <li class="banner_li">
                            <a href="" target="_blank"><span>茶叶种类划分：各茶叶分类的代表茶有哪些？</span><img src="~/public/Home/images/index/banner3.jpg" width="100%" height="100%" /></a>
                        </li>
                        <li class="banner_li">
                            <a href="" target="_blank"><span>择一处清幽，斟一盏芳茗</span><img src="~/public/Home/images/index/banner2.jpg" width="100%" height="100%" /></a>
                        </li>
                        <li class="banner_li">
                            <a href="" target="_blank"><span>如何成为品茶高手？学会这5个动作让你成为品茶高手！</span><img src="~/public/Home/images/index/banner4.jpg" width="100%" height="100%" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!---------right  （Hot）--------->
        <div class="Hot_box col-5">
            <div class="hot">
                <div class="hot_title">
                    <h3></h3>
                </div>

                <div class="mod-info-flow" id="Hot_box">

                    @*-----------*@
                    <div class="mod-b mod-art clearfix  d-flex justify-content-start" data-aid="267085">
                        <!--栏目链接-->
                        <div class="mod-thumb pull-left img1 col-4 p-0">
                            <a class="transition" href="/article/267085.html" target="_blank">
                                <!--文章图片-->
                                <img class="" alt="珍惜与你喝茶之人" src="~/public/Home/images/index/hot/hot1.jpg" style="display: inline;">
                            </a>
                        </div>
                        <div class="mob-ctt index-article-list-yh col-6 pl-2">
                            <h2>
                                <a asp-action="/Index_Article" asp-controller="Home" class="transition msubstr-row2" target="_blank">珍惜与你喝茶之人</a>
                            </h2>
                            <div class="mob-author">
                                <div class="author-face">
                                    <img src="~/public/Home/images/font/小猫.png">
                                </div>
                                <a href="/member/1979940.html" target="_blank" class="pl-4">
                                    <span class="author-name ">普见茶业</span>
                                    <span class="time">22分钟前</span>
                                </a>
                            </div>

                            <!--外部文章/内部文章两者取其一-->
                            <div class="mob-sub">
                                生活给了我们太多无可奈何。
                            </div>
                        </div>
                        <!--文章Tag展示-->
                    </div>
                    @*-----------*@
                </div>
            </div>

        </div>
    </div>

</div>


<div id="content_foot" style="width:100%;height:100%; float:left; margin:0 auto; padding-top:30px;">
    <div class="content_left col-6 row" style="height:200px;background-color:aqua;display:inline-block;">

    </div>
    <div class="content_left col-6 row" style="height:200px;background-color:brown;display:inline-block;">

    </div>

</div>
@section Scripts{
    <script type="text/javascript" src="~/public/Home/js/index.js"></script>
    <script>
        //根据id获取信息
        function GetModelById(id, callback) {
            $.ajax({
                url: "/Home/GetModel",
                type: "post",
                dataType: "json",
                data: { id: id }
            }).done(function (result) {
                callback(result);
            })
        }

        $(function () {
            //加载模块名称
            GetModelById(1, function (result) {
                $(".hot_title h3").text(result.name);
            });

        })
    </script>
}