@{
    ViewData["Title"] = "首页";
}

<style>
    #content h4 {
        color: #b70000;
    }

    #topnewspaper ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        #topnewspaper ul li {
            width: 100%;
            float: left;
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #eaeaea;
            cursor: pointer;
        }

            #topnewspaper ul li div {
                display: inline-block;
                float: left;
                color: #b7b7b7;
            }

    #topnewspaper a:hover {
        text-decoration-line: none;
    }


    #Homebottom ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        #Homebottom ul li {
            width: 100%;
            float: left;
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #eaeaea;
            cursor: pointer;
        }

            #Homebottom ul li div {
                display: inline-block;
                float: left;
                color: #b7b7b7;
            }

    #Homebottom a:hover {
        text-decoration-line: none;
    }

    #bottomleft {
        border-right: 1px solid #f1cf07;
    }
</style>

<div class="row" id="Hometop">
    <!--轮播图-->
    <div class="col-7">
        <div id="HomeCarousel" class="carousel slide" data-ride="carousel">
            <!--圆点区域-->
            <ol class="carousel-indicators"></ol>

            <!--图片区域-->
            <div class="carousel-inner">

            </div>

            <!--左右侧切换按钮-->
            <a class="carousel-control-prev" href="#HomeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#HomeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="col-5 col-lg-pull-1 col-md-pull-1" id="topnewspaper">

    </div>
</div>

<hr class="bg-danger" />

<div class="row" id="Homebottom">
    <div class="col-6 p-0 float-left mr-2" id="bottomleft">

    </div>
    <hr />
    <div class="col-5 p-0 float-left" id="bottomright">

    </div>
</div>


@section Scripts{
    <script>
        //加载模块
        function load() {
            //加载模块信息
            $.post("/Home/GetModel", { id: 11 }, function (result) {
                var topnewspaper = $("#topnewspaper");
                //渲染轮播图旁边的模块
                if (result.length >= 1) {
                    var oneobj = result.shift();
                    topnewspaper.append(`<h4>` + oneobj.name + `</h4>`);
                    var li = ``;
                    for (var i = 0; i < oneobj.Articles.length; i++) {
                        if (i >= 3) {
                            continue;
                        }
                        var author = oneobj.Articles[i].author == null ? "" : oneobj.Articles[i].author;
                        li += `<li onclick="SelectArticle(` + oneobj.Articles[i].id +`)">
                        <div class="col-6 p-0">
                            <img src="http://120.78.198.92`+ oneobj.Articles[i].imgurl + `" width="190px" height="120px" />
                        </div>
                        <div class="col-5 p-0 ">
                            <span style="font-weight:500; color:black;" class="col-12 p-0">`+ oneobj.Articles[i].title + `</span>
                            <div class="col-12 p-0 mt-2">
                                <img src="/images/font/小猫.png" width="40" height="40" class="col-2 p-0" />
                                <span class="col-3">`+ author + `</span>
                            </div>
                            <div class="col-12 p-0 mt-2"><span>`+ Common.ToDateTime(oneobj.Articles[i].createTime) + `</span></div>
                        </div>
                    </li>`;
                    }
                    var ul = `<ul>` + li + `</ul><a href="#` + oneobj.id + `" onclick="ModalArticle(` + oneobj.id +`)">查看更多>>></a>`;
                    topnewspaper.append(ul);
                }
                //渲染主体左边模块
                if (result.length >= 1) {
                    var leftmodel = result.slice(0, result.length / 2);
                    result.splice(0, result.length / 2);
                    for (var i = 0; i < leftmodel.length; i++) {
                        $("#bottomleft").append(`<h4 class="mt-2">` + leftmodel[i].name + `</h4>`)
                        var li = ``;
                        for (var j = 0; j < leftmodel[i].Articles.length; j++) {
                            if (j >= 5) {
                            continue;
                            }
                            var author = leftmodel[i].Articles[j].author == null ? "" : leftmodel[i].Articles[j].author;
                            li += `<li onclick="SelectArticle(` + leftmodel[i].Articles[j].id +`)">
                <div class="col-5 p-0">
                    <img src="http://120.78.198.92`+ leftmodel[i].Articles[j].imgurl +`" width="190px" height="120px" />
                </div>
                <div class="col-5 p-0 ">
                    <span style="font-weight:500; color:black;" class="col-12 p-0">`+ leftmodel[i].Articles[j].title +`</span>
                    <div class="col-12 p-0 mt-2">
                        <img src="/images/font/小猫.png" width="40" height="40" class="col-2 p-0" />
                        <span class="col-3">`+ author +`</span>
                    </div>
                        <div class="col-12 p-0 mt-2">
                        <span >`+ Common.ToDateTime(leftmodel[i].Articles[j].createTime) +`</span></div>
                </div>
            </li>`;
                        }
                        var ul = `<ul>` + li + ` </ul><a href="#` + leftmodel[i].id + `" onclick="ModalArticle(` + leftmodel[i].id +`)">查看更多>>></a></span>`;
                        $("#bottomleft").append(ul);
                    }

                    for (var i = 0; i < result.length; i++) {
                        $("#bottomright").append(`<h4 class="mt-2">` + result[i].name + `</h4>`)
                        var li = ``;
                        for (var j = 0; j < result[i].Articles.length; j++) {
                            if (j >= 5) {
                            continue;
                            }
                            var author = result[i].Articles[j].author == null ? "" : result[i].Articles[j].author;
                            li += `<li onclick="SelectArticle(` + result[i].Articles[j].id +`)">
                <div class="col-5 p-0">
                    <img src="http://120.78.198.92`+ result[i].Articles[j].imgurl +`" width="190px" height="120px" />
                </div>
                <div class="col-5 p-0 ">
                    <span style="font-weight:500; color:black;" class="col-12 p-0">`+ result[i].Articles[j].title +`</span>
                    <div class="col-12 p-0 mt-2">
                        <img src="/images/font/小猫.png" width="40" height="40" class="col-2 p-0" />
                        <span class="col-3">`+ author +`</span>
                    </div>
                        <div class="col-12 p-0 mt-2">
                        <span >`+ Common.ToDateTime(result[i].Articles[j].createTime) +`</span></div>
                </div>
            </li>`;
                        }
                        var ul = `<ul>` + li + ` </ul><a href="#` + result[i].id + `" onclick="ModalArticle(` + result[i].id +`)" >查看更多>>></a></span>`;
                        $("#bottomright").append(ul);
                    }
                }


            })


            //加载轮播图
            $.post("/Home/GetRotationCharts", { id: 11 }, function (result) {
                var homedom = $("#Hometop");
                var oldom = homedom.find("ol");
                var carouseldom = homedom.find(".carousel-inner");

                var active = ``;
                var li = ``;
                var imgdiv = ``;
                for (var i = 0; i < result.length; i++) {
                    if (i > 0) {
                        active = ``;
                    } else {
                        active = `active`;
                    }
                    li = `<li data-target="#HomeCarousel" data-slide-to="` + i + `" class="` + active + `" ></li>`;
                    oldom.append(li);
                    var tit = result[i].title == null ? "" : result[i].title;
                    imgdiv = `<div class="carousel-item ` + active + `">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>`+ tit + `</h5>
                  </div>
<img class="d-block w-100" src="http://120.78.198.92`+ result[i].imgurl + `" onclick="SelectArticle(` + result[i].articleId + `)">
</div>`;
                    carouseldom.append(imgdiv);
                }
                $('.carousel').carousel();
            });
        }

        $(function () {

            load();

        })
    </script>
}
