@{
    ViewData["Title"] = "首页";
}

<style>
    #content h4{
        color:#b70000;
    }
</style>

<div class="row" id="Hometop">
    <!--轮播图-->
    <div class="col-7">
        <div id="HomeCarousel" class="carousel slide" data-ride="carousel">
            <!--圆点区域-->
            <ol class="carousel-indicators"></ol>

            <!--图片区域-->
            <div class="carousel-inner">

            </div>

            <!--左右侧切换按钮-->
            <a class="carousel-control-prev" href="#HomeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#HomeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    
    <div class="col-4 col-lg-pull-1 col-md-pull-1">
        <h4>最新资讯</h4>
    </div>
</div>

<div class="row" id="Homebottom">
    <div class="col-6" id="bottomleft"></div>
    <div class="col-6" id="bottomright"></div>
</div>


@section Scripts{
    <script>
        //加载模块
        function load() {
            //加载模块信息

            //加载轮播图
            $.post("/Home/GetRotationCharts", { id: 11 }, function (result) {
                var homedom = $("#Hometop");
                var oldom = homedom.find("ol");
                var carouseldom = homedom.find(".carousel-inner");

                var active = ``;
                var li = ``;
                var imgdiv = ``;
                for (var i = 0; i < result.length; i++) {
                    if (i > 0) {
                        active = ``;
                    } else {
                        active = `active`;
                    }
                    li = `<li data-target="#HomeCarousel" data-slide-to="` + i + `" class="` + active + `"></li>`;
                    oldom.append(li);
                    var tit = result[i].title == null ? "" : result[i].title;
                    imgdiv = `<div class="carousel-item ` + active + `">
        <div class="carousel-caption d-none d-md-block">
        <h5>`+ tit + `</h5>
      </div>
<img class="d-block w-100" src="http://localhost:62320`+ result[i].imgurl + `">
</div>`;
                    carouseldom.append(imgdiv);
                }
                $('.carousel').carousel();
            });
        }

        $(function () {

            load();

        })
    </script>
}
