@{
    ViewData["Title"] = "茶故事";
}
@section Styles{
    <link rel="stylesheet" href="~/public/Home/css/Story.css" />
    <link rel="stylesheet" href="~/public/Home/css/Story_mera.css" />
}

<div class="container">
    <!-----------------------------------------------------mian----------------------------------------------------------->
    <div class="container" style="padding: 0; margin: 0;" id="pic">
        <div class="container">
            <div class="mian1" style="margin:0 auto ;">
                <!--轮播图-->
                <div id="demo" class="carousel slide" data-ride="carousel" style="width: 870px;float:left;">
                    <!-- 轮播图片 -->
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" height="430">
                            <div class="carousel-caption">
                                <h3>第一张图片描述标题</h3>
                                <p>描述文字!</p>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg" height="430">
                            <div class="carousel-caption">
                                <h3>第二张图片描述标题</h3>
                                <p>描述文字!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg" height="430">
                            <div class="carousel-caption">
                                <h3>第三张图片描述标题</h3>
                                <p>描述文字!</p>
                            </div>
                        </div>
                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>

                <!--HOT-->
                <div class="hot-article clear bord pt-1" id="hot-news">

                </div>
            </div>
        </div>

        <!---------------------------------------------------mian3------------------------------------------------------>
        <div class="sohu-index-v3 container-fluid" style="margin:0 auto;margin-top: 5%;">
            <div class="area clearfix public content-business channel-content" id="modelContent">


            </div>
        </div>
    </div>


</div>

@section Scripts{
    <script type="text/javascript" src="~/public/Home/js/Story.js"></script>
    <script>
        function load() {
            //加载轮播图
            $.post("/Home/GetRotationCharts", { id: 14 }, function (result) {
                var rotationChartstr = ``;
                for (var i = 0; i < result.length; i++) {
                    rotationChartstr += `<div class="carousel-item">
                                                                <img src="`+ result[i].imgurl + `" height="430">
                                                                <div class="carousel-caption">
                                                                    <h3>`+ result[i].title + `</h3>
                                                                </div>
                                                            </div>`;
                }
                $(".carousel-inner").append(rotationChartstr);
            });
            //加载模块
            $.post("/Subpage/GetModel", { id: 14 }, function (result) {
                if (result.length > 0) {
                    //加载轮播图旁边的内容
                    var hotnew = result.shift();
                    var hottxt = ``;
                    if (hotnew.articles.length > 5) {
                        var hotarticel = hotnew.articles.slice(0, 5)
                        for (var i = 0; i < hotarticel.length; i++) {
                            hottxt += `
                                                            <div class="pic-txt clear ">
                                                        <div class="pic img-do">
                                                            <a>
                                                                <img src="`+ hotarticel[i].imgurl + `">
                                                            </a>
                                                        </div>
                                                        <h4>
                                                            <a id="text">`+ hotarticel[i].title + `</a>
                                                        </h4>
                                                    </div>`;
                        }
                    } else {
                        for (var i = 0; i < hotnew.articles.length; i++) {
                            hottxt += `
                                                            <div class="pic-txt clear ">
                                                        <div class="pic img-do">
                                                            <a>
                                                                <img src="`+ hotnew.articles[i].imgurl + `">
                                                            </a>
                                                        </div>
                                                        <h4>
                                                            <a id="text">`+ hotnew.articles[i].title + `</a>
                                                        </h4>
                                                    </div>`;
                        }
                    }
                    var hottitle = `
                                                    <div class="titleR">
                                                        <span class="tt">`+ hotnew.wzzModel.name + `</span>
                                                    </div>`+ hottxt;
                    $("#hot-news").append(hottitle);
                }
                //加载完第一个模块后，如果还有模块的话则继续加载
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var txt = ``;
                        for (var x = 0; x < result[i].articles.length; x++) {
                            var onenew = result[i].articles.shift();

                            if (result[i].articles.length > 6) {
                                var liarticle = ``;
                                var sisarticle = result[i].articles.slice(0, 6);
                                for (var j = 0; j < 6; j++) {
                                    result[i].articles.shift();
                                }
                                for (var j = 0; j < 6; j++) {
                                    liarticle += `
                                                                    <li>
                                                                        <a href="" title="`+ sisarticle[i].title + `">
                                                                            `+ sisarticle[i].title + `
                                                                        </a>
                                                                    </li>
                                                                    `;
                                }
                                var articlestr = `<div class="main-right left col-4">
                                                                    <div class="list16">
                                                                        <ul>
                                                                        `+ liarticle + `
                                                                        </ul>
                                                                    </div>
                                                                </div>`;

                                if (result[i].articles.length > 0) {
                                    if (result[i].articles.length > 6) {
                                        var liarticle2 = ``;
                                        var sisarticle2 = result[i].articles.slice(0, 6);
                                        for (var j = 0; j < 6; j++) {
                                            result[i].articles.shift();
                                        }
                                        for (var j = 0; j < 6; j++) {
                                            liarticle2 += `
                                                                            <li>
                                                                                <a href="" title="`+ sisarticle2[i].title + `">
                                                                                    `+ sisarticle2[i].title + `
                                                                             </a>
                                                                         </li>
                                                                            `;
                                            articlestr += `<div class="main-right left col-4">
                                                                        <div class="list16">
                                                                        <ul>
                                                                        `+ liarticle2 + `
                                                                        </ul>
                                                                    </div>
                                                                </div>`;
                                        }
                                    } else {
                                        var liarticle2 = ``;
                                        for (var j = 0; j < result[i].articles.length; j++) {
                                            liarticle2 += `
                                                                            <li>
                                                                                <a href="" title="`+ result[i].articles[j].title + `">
                                                                                    `+ result[i].articles[j].title + `
                                                                             </a>
                                                                         </li>
                                                                            `;
                                            articlestr += `<div class="main-right left col-4">
                                                                        <div class="list16">
                                                                        <ul>
                                                                        `+ liarticle2 + `
                                                                        </ul>
                                                                    </div>
                                                                </div>`;
                                        }
                                    }

                                } else {
                                    var liarticle = ``;
                                    for (var j = 0; j < result[i].articles.length; j++) {
                                        liarticle += `
                                                                    <li>
                                                                        <a href="" title="`+ result[i].articles[j].title + `">
                                                                            `+ result[i].articles[j].title + `
                                                                        </a>
                                                                    </li>
                                                                    `;
                                    }
                                    var articlestr = `<div class="main-right left col-4">
                                                                    <div class="list16">
                                                                        <ul>
                                                                        `+ liarticle + `
                                                                        </ul>
                                                                    </div>
                                                                </div>`;
                                }
                                txt += `
                                                            <div class="clo-lg-3 h-25 w-100">
                                                        <div class="list-mun" >
                                                            <div class="main-box clearfix business-news">
                                                                <div class="main-left left" >
                                                                    <div class="pic-focus">
                                                                        <a href="" title="`+ onenew.title + `" >
                                                                            <img src="`+ onenew.imgurl + `" data-processed="true">
                                                                            <span class="txt">`+ onenew.title + `</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                `+ articlestr + `
                                                            </div>
                                                        </div>
                                                        </div>
                                                            `;
                            }
                        }

                        var titlestr = `
                                                        <div class="main left w-100">
                                                    <div class="title-cut">
                                                        <ul>
                                                            <li class=" cur" data-rel="main-panel" data-type="main">
                                                                <a href=" " >
                                                                    `+ result[i].wzzModel.name + `
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    `+ txt + `
                                                    </div>`;
                        $("#modelContent").append(titlestr);
                    }
                }
            });
        }


        $(function () {
            load();
        })
    </script>
}
