<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>后台管理页面</title>

    @* css *@
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    @*<link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist-custom.css">*@
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!--上传文件-->
    <link href="~/assets/css/fileinput.min.css" rel="stylesheet" />
    <!--LayUI-->
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" media="all" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">


    @RenderSection("Styles", required: false)



</head>
<body style="overflow-x:hidden;">

    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/Home/Index"><img src="~/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">

                <div id="navbar-menu">
                    <ul class=" nav navbar-nav navbar-right">

                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="" class="img-circle"> <span id="username"></span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu layui-anim layui-anim-scale">
                                <li><a href="/Home/UserInfo"><i class="fa fa-id-card-o"></i> <span>个人中心</span></a></li>
                                <li><a href="/Admin_Login/OutLogin"><i class="lnr lnr-exit"></i> <span>退出登入</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;">
                <div class="sidebar-scroll" style="overflow: hidden; width: auto; height: 95%;">
                    <nav>
                        <ul class="nav" id="headul"></ul>
                    </nav>
                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 407.128px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid " id="container">
                    @RenderBody()
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <b>底部内容</b>
            </div>
        </footer>
    </div>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" id="modalend" value="关闭" data-dismiss="modal" />
                    <input type="button" class="btn btn-primary" id="modalsub" value="确定" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>




    <!-- END WRAPPER -->
    @* JS *@
    <!-- Javascript -->
    <script src="~/assets/vendor/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js" charset="utf-8"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    @*<script src="~/assets/vendor/chartist/js/chartist.min.js"></script>*@
    <script src="~/assets/scripts/klorofil-common.js"></script>
    <!--公共的js方法-->
    <script src="~/js/site.js"></script>
    <!--上传文件-->
    <script src="~/assets/scripts/fileinput.min.js"></script>
    <script src="~/assets/scripts/zh.js"></script>
    <!--LayUI-->
    <script src="~/lib/layui/layui.all.js" charset="utf-8"></script>

    <script src="~/assets/scripts/index.js" charset="utf-8"></script>

    @RenderSection("Scripts", required: false)



</body>
</html>
