
<form class="layui-form layui-form-pane" id="webSettingForm">
    <input type="hidden" name="start" value="" />
    <input type="hidden" name="id" value="" />
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">加盟号码设置：</label>
        <div class="layui-input-block">
            <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">页面底部文字设置：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="Subheading"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">网站图片选择：</label>
        <input type="hidden" name="imgurl" value="" />
        <input type="file" class="file-loading upimg" data-browse-on-zone-click="true" />
    </div>
    <input type="hidden" name="end" value="" />
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*" id="submit">立即提交</button>
        </div>
    </div>
</form>

@section Scripts{
    <script>

        function load() {
            $.post("/WebStationSetting/GetWebInfo", { id: 1 }, function (result) {
                console.log(result);
                $("#webSettingForm [name=phone]").val(result.phone);
                $("#webSettingForm [name=Subheading]").val(result.subheading);
                $("#webSettingForm [name=imgurl]:hidden").val(result.imgurl);
                $("#webSettingForm [name=id]:hidden").val(result.id);
                if (result.imgurl != null) {
                    var imgdiv = `<img src="` + result.imgurl + `" class="showimg img-thumbnail" width="30%">`;
                    $("#webSettingForm [name=imgurl]:hidden").parent().append(imgdiv);
                }
            });
            //文件上传配置(单图上传)
            var fileopt = {
                language: 'zh',//设置语言为中文
                uploadUrl: "/Home/UpFile",//文件上传路径
                showUpload: true,//是否显示上传按钮
                browseClass: "btn btn-primary", //按钮样式
                deleteUrl: "/Home/DelFile",//删除地址
                maxFileCount: 1,//允许最大同时上传数
                uploadAsync: true,//上传方式使用异步
                showClose: false,//是否显示右上角关闭按钮
                validateInitialCount: true,
                showPreview: false,//关闭预览
                fileActionSettings: { showUpload: false },//设置图片上的按钮，现在为不显示单个图片上传的按钮
                maxFileSizenumber: 1024 * 3,//设置最大上传大小
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            }
            $(".upimg").fileinput(fileopt).on("fileuploaded", function (e,data) {
                if (data.response) {
                    $("#webSettingForm [name=imgurl]:hidden").val(data.response[0].filePath);
                    var imgdiv = $(".showimg");
                    if (imgdiv.length != 0) {
                        imgdiv.attr("src", data.response[0].filePath)
                    } else {
                        var imgdiv = `<img src="` + data.response[0].filePath + `" class="showimg img-thumbnail" width="30%">`;
                    $("#webSettingForm [name=imgurl]:hidden").parent().append(imgdiv);
                    }
                }
            });
        }

        $(document).on("click", "#submit", function (e) {
            e.preventDefault();
            var data = $("#webSettingForm").serialize();
            var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
            var phone = $("#webSettingForm [name=phone]").val();
            if (!reg.test(phone)) {
                layer.msg("手机号格式有误，请检查是否有空格或符号", { icon: 3 });
                return false;
            }
            $.post("/WebStationSetting/Save", JSON.stringify(data), function (result) {
                if (result) {
                    layer.msg("操作成功", { icon: 1 });
                } else {
                    layer.msg("操作失败", { icon: 2 });
                }
                load();
            });
        })

        $(function () {
            layui.use('form', function () {
                var form = layui.form;
            });
            load();
        })

    </script>
}